
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.to_do_list{
    padding: 50px;
    min-height: 688px;
    .container{
        padding-top: 25px;
        padding-bottom: 25px;
        width: 550px;
        background-color:rgba(208, 246, 208, 0.507);
        border-radius: 6px;
        margin: 0 auto;
        .to_do_list_high{
            .high_text{
                font-size: 18px;
                color: rgb(0, 0, 0);
                text-align: center;
            }
            .hight_new_task{
                margin-top: 12px;
                input{
                    padding: 10px;
                    padding-left: 45px;
                    margin: 0 auto;
                    display: block;
                    width: 460px;
                    height: 45px;
                    border-radius: 6px;
                    border: solid 1px rgb(152, 152, 152);
                    background-color: rgb(255, 255, 255);
                }
            }
            .hight_block{
                .check{
                    margin-top: 15px;
                    align-self: flex-start;
                    cursor: pointer;
                }
                display: flex;
                align-items: center;
                justify-content: space-between;
                box-sizing: border-box;
                padding-left: 10px;
                padding-right: 10px;
                margin: 0 auto;
                margin-top: 10px;
                width: 460px;
                min-height: 45px;
                border-radius: 6px;
                border: solid 1px rgb(152, 152, 152);
                background-color: rgb(255, 255, 255); 
                p{
                    align-self: flex-start;
                    width: 370px;
                }
                .close{
                    margin-top: 15px;
                    align-self: flex-start;
                    cursor: pointer;
                }
            }
            .hight_block.checked{
                background-color: rgb(218, 216, 216);
                text-decoration: line-through;
                ;
            }


        }
        .to_do_list_low{
            padding-top: 25px;
            .low_text{
                font-size: 18px;
                color: rgb(0, 0, 0);
                text-align: center;
            }
            .low_new_task{
                margin-top: 12px;
                input{
                    padding: 10px;
                    padding-left: 45px;
                    margin: 0 auto;
                    display: block;
                    width: 460px;
                    height: 45px;
                    border-radius: 6px;
                    border: solid 1px rgb(152, 152, 152);
                    background-color: rgb(255, 255, 255);
                }
            }
            .low_block{
                .check{
                    margin-top: 15px;
                    align-self: flex-start;
                    cursor: pointer;
                }
                display: flex;
                align-items: center;
                justify-content: space-between;
                box-sizing: border-box;
                padding-left: 10px;
                padding-right: 10px;
                margin: 0 auto;
                margin-top: 10px;
                width: 460px;
                min-height: 45px;
                border-radius: 6px;
                border: solid 1px rgb(152, 152, 152);
                background-color: rgb(255, 255, 255); 
                p{
                    align-self: flex-start;
                    width: 370px;
                }
                .close{
                    margin-top: 15px;
                    align-self: flex-start;
                    cursor: pointer;
                }
            }
            .low_block.checked{
                background-color: rgb(218, 216, 216);
                text-decoration: line-through;
            }
        }
    }

}